<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>競技プログラミングライブラリ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="web/css/style.css">
</head>
<body id="top">
<header>
    <h1>競技プログラミングライブラリ</h1>
    <nav id="menubar">
        <ul>
            {% for segment in segments %}
            <li><a href="#{{ segment[0] }}">{{ segment[1] }}</a></li>
            {% endfor %}
        </ul>
        <ul>
            <li><a href="#link">リンク</a></li>
            <li><a href="#memo">メモ</a></li>
        </ul>
    </nav>
</header>

<main>
    <div id="pagetop"><a href="#top"><i class="fas fa-angle-up"></i></a></div>

    {% for segment in segments %}
    <section id="{{ segment[0] }}">
        <h2>{{ segment[1] }}</h2>
        {% for item in segment[2] %}
        <table>
            <tr>
                <td id="col0">
                    <ul>
                        <li>
                            {{ item.title }} [
                            <a href="https://github.com/ibtosmlin/atcoder/blob/main/lib/lib/{{ item.fname }}" target="_blank">
                                {{ item.fname }}
                            </a>]
                        </li>
                    </ul>
                </td>
                <td id="col1">
                    <ul>
                        {% for sub in item.subtitle %}
                        <li>{{ sub }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        {% endfor %}
    </section>
    {% endfor %}

    <section id="link">
        <h2>リンク</h2>
        <ul>
            {% for name, url in links %}
            <li><a href="{{ url }}" target="_blank">{{ name }}</a></li>
            {% endfor %}
        </ul>
    </section>

    <section id="memo">
        <h2>メモ</h2>
        <ul>
            {% for memo in memos %}
            <li>
                <a href="https://github.com/ibtosmlin/atcoder/blob/main/lib/lib/{{ memo }}" target="_blank">{{ memo }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

<footer></footer>
</body>
</html>
