@charset "utf-8";
html,body {height: 100%; width: 100%}
body {
    margin: 10px;
    padding: 10px;
    color: #c58026; /*全体の文字色*/
    font-family: "Kosugi Maru", sans-serif;
    font-size: 16px;        /*文字サイズ*/
    line-height: 1.5;         /*行間*/
    background: #f9f3ec;  /*背景色*/
}

header {width: 100%}
footer {height: 10%; top: 100vh; position: sticky}

#pagetop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    margin: 0;
}
#pagetop a {
    position: relative;
    display: flex;
    width: 65px;
    height: 65px;
    justify-content: center;
    background: #c58026;
    transition: opacity .6s ease;
    color: #d81111;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    border-radius: 100%;
}
#pagetop a:hover {
    opacity: .3;
}
@media screen and (max-width:767px) {
#pagetop a {
    width: 45px;
    height: 45px;
}
}

a {
    color:green;
}


table{
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
}


#col0 {
    width: 30%
}
#col1 {
    width: 70%
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5px;
}

nav ul li{
    list-style: none;
    margin: 1rem;
    position: relative;
}

nav ul li::before {
    content: '/';
    color: #f4a006;
    padding: 0 3px;
}
nav ul li::after {
    content: '/';
    color: #f4a006;
    font-size: 18px;
    padding: 0 3px;
}

#memo, #link{
    width: 30%
}

#col0 li, #memo li, #link li{
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #c8cbce;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
    line-height: 1.5;
    padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px ;
}

#col1{
    color: #333;
    display: inline-block;
    padding: 1rem 1rem;
    margin: 1rem;
    border-top: solid #333 1px;
    border-bottom: solid #333 1px;
}